<!DOCTYPE html>
<html>
<head>
<import  type="css"  file="css.home"  />
<import  type="js"   file="js.home"   />
<meta charset="UTF-8">
<title>网站主页</title>
</head>
<body>
<div  id="top">
  <ul  class="left">
  <li><a href=""  onmouseover="onmouse(this)"  onmouseout="outmouse(this)">主页</a></li>
  <li><a href=""  onmouseover="onmouse(this)"  onmouseout="outmouse(this)">音乐</a></li>
  <li><a href=""  onmouseover="onmouse(this)"  onmouseout="outmouse(this)">更多</a></li>
  </ul>
  
  <ul  class="right">
  <li><a href=""  onmouseover="onmouse(this)"  onmouseout="outmouse(this)">登陆</a></li>
  <li><a href=""  onmouseover="onmouse(this)"  onmouseout="outmouse(this)">注册</a></li>
  </ul>
</div>
<div  id="title">
	 <div  class="name">
	 <a href="__URL__/index">MY MUSIC</a>
	 </div>
	 <div  class="search">
	 
	 <input type="text"   name="keyword" placeholder="音乐名,演员..."  id="stext" /> 
	 <a href="__APP__/Home/Download/search/key/" id="shref"  onclick="getkey()"><img src="__PUBLIC__/Image/search.jpg" alt="" /></a>
	 
	 </div>
	 <div  class="menu">
	 <table>
	 <tr>
	 <td><a href="">歌手</a></td>
	 <td><a href="">专题</a></td>
	 <td><a href="">歌单</a></td>
	 <td><a href="">排行榜</a></td>
	 <td><a href="">评论</a></td>
	 <td><a href="__APP__/Home/Download/index">分类浏览</a></td>
	 </tr>
	 </table>
	 
	 </div>

</div>

</body>
</html>