<!DOCTYPE html>
<html>
<head>
<import  type="css"  file="css.common"  />
<meta charset="UTF-8">
<title>主界面</title>
</head>
<body >
<div id="container">
  <div id="sidebar">
  
  <table  border=1  class="menu"  cellpadding="15">
  
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
      <a href="__APP__/supper/news.html">新闻管理</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
      <a href="__APP__/supper/upfile/upload.html"> 音乐上传</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
       <a href="__APP__/supper/upfile.html">上传管理</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
       <a href="__APP__/supper/download/edit.html">添加音乐资源</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
     <a href="__APP__/supper/download.html"> 音乐资源管理</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
      <a href="__APP__/supper/category.html">类目管理</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
      <a href="__APP__/supper/software.html">播放软件</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
      <a href="__APP__/supper/users.html">用户管理</a>
  </td>
  </tr>  
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
       <a href="__APP__/supper/users/edit.html">修改密码</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
      <a href="__APP__/supper/logout.html">退出系统</a>
  </td>
  </tr>  
  </table>
  
  </div>

</div>





</body>
</html>