<!DOCTYPE html>
<html>
<head>
<import  type="css"  file="css.common"  />
<meta charset="UTF-8">
<title>主界面</title>
</head>
<body >
<div id="container">
  <div id="sidebar">
  
  <table  border=1  class="menu"  cellpadding="15">
  
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
      <a href="__APP__/Admin/News/index">新闻管理</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
      <a href="__APP__/Admin/Upfile/upload"> 音乐上传</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
       <a href="__APP__/Admin/Upfile/index">上传管理</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
       <a href="__APP__/Admin/Download/edit">添加音乐资源</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
     <a href="__APP__/Admin/Download/index"> 音乐资源管理</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
      <a href="__APP__/Admin/Category/index">类目管理</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
      <a href="__APP__/Admin/Software/index">播放软件</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
      <a href="__APP__/Admin/Users/index">用户管理</a>
  </td>
  </tr>  
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
       <a href="__APP__/Admin/Users/edit">修改密码</a>
  </td>
  </tr>
  <tr>
  <td>
  <img src="__PUBLIC__/Image/1.jpg"/>
      <a href="__APP__/Admin/Index/logout">退出系统</a>
  </td>
  </tr>  
  </table>
  
  </div>

</div>





</body>
</html>